@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}

body{
    background: rgba(0, 0, 0, 0.279);
}

/* -------------> Header <------------- */

.banner{
    position: absolute;
    width: 100%;
    margin-top: 70px;
}

.chains{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.chains div{
    background: url(./assets/chains.png) no-repeat;
    background-position: center;
    background-size: cover;
    height: 30px;
    width: 10px;
}

.contBanner{
    box-shadow: 10px 10px 20px black;
    background: rgb(141, 173, 85);
    height: 150px;
    width: 80%;
    margin: 0 auto 20px;
    border-radius: 0 0 60% 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.contBanner img{
    position: absolute;
    width: 100%;
    z-index: 1;
    opacity: 85%;
}

.contBanner h1{
    font-size: 4em;
    text-align: center;
    text-transform: uppercase;
    color: darkolivegreen;
    text-shadow: 3px 3px 3px black;
    -webkit-text-stroke: 1px white;
    font-weight: 800;
    z-index: 2;
}

/* -------------> Inicio <------------- */

.carousel-item{
    height: 400px;
}

.carousel-item img{
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.carousel-caption{
    background: rgba(0, 0, 0, 0.411);
}

.carousel-caption h5{
    text-shadow: 2px 2px 0px black;
}

/* -------------> NavBar <------------- */

.dropdown-menu{
    background: #212529a1;
}

.dropdown-item{
    color: white;
}

.navbar-nav{
    gap: 40px;
}

.navbar{
    width: 100%;
    padding: 0;
    position: fixed;
    z-index: 3;
}

.active{
    border-bottom: 2px solid white;
}

a.navbar-brand.active{
    border-bottom: none;
}

.nav-link2.active{
    border-bottom: none;
}

.container{
    margin-right: 0px;
    margin-left: 180px;
}

.sesion{
    display: flex;
    font-size: .8em;
    gap: 5px;
    align-items: baseline;
}

.fa-solid{
    font-size: 1.5em;
}

/* -------------> Logo <------------- */

.logo{
    transition: .5s;
    position: relative;
    display: inline-block;
}

.logo:hover{
    transition: .5s;
    transform: scale(1.05);
}

/* -------------> Exterior <------------- */

.plantExt{
    margin-top: 30px;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 3px black;
}

.contenedor{
    border-top: 2px solid black;
    width: 80vw;
    padding-top: 10px;
    margin: 20px auto;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; 
    gap: 20px;
}

.card{
    margin-top: 10px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
    height: 380px;
    position: relative;
    border-radius: 20px;
    transition: .5s;
}

.card:hover{
    transition: .5s;
    transform: scale(1.03);
}

.card img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.card h2, .card p, .comprar {
    padding: 10px;
    position: absolute;
    color: white;
}

.card h2{
    top: 10px;
    text-shadow: 3px 3px 3px black;
}

.card p{
    font-size: 12px;
    bottom: 30px;
    background-color: rgba(0, 0, 0, 0.389);
}

.comprar{
    border-radius: 10px 0px 10px 0px;
    padding: 7px;
    top: 355px;
    background-color: darkolivegreen;
    transition: ease-in-out .7s;
}

.comprar:hover{
    background: rgb(151, 187, 90);
    transition: ease-in-out .7s;
}

.stats, .parrafo{
    font-size: 14px;
    color: white;
    bottom: 30px;
    background-color: rgba(0, 0, 0, 0.389);
}

.parrafo{
    width: 100%;
    position: absolute;
    opacity: 1;
    transition: .6s;
}

.stats ul{
    width: 100%;
    font-size: 17px;
}

.stats{
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: .6s;
}

/* -------------> Main <------------- */

main{
    padding-top: 280px;
}

.contenedor-main{
    padding: 20px;
    width: 90%;
    margin: 30px auto;
    background: rgba(85, 107, 47, 0.685);
}

.contenedor-main H2{
    text-align: center;
    color: white;
    text-shadow: 3px 3px 0px black;
}

.contenedor-main p{
    color: white;
}

/* -------------> Footer <------------- */

.footer{
    background: rgb(155, 155, 155);
    width: 100%;
    height: 300px;
    padding-top: 30px;
    margin-bottom: 10px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.footerrow{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.footer h4, .footer h5{
    border-bottom: 2px solid darkolivegreen;
}

.socials{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.socials img{
    width: 30px;
    filter: contrast(.7);
}

.socials img:hover{
    transform: scale(1.07);
    filter: contrast(2);
}

.pagos{
    height: 100%;
}

.pagos div{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagos img{
    width: 400px;
}

.envios{
    height: 100%;
}

.envios div{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -------------> Registration Form <------------- */

.registro{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 160vh;
    background: url(./assets/wallpaper-inicioS.webp) no-repeat;
    background-size: cover;
}

.registro img{
    margin-top: 90px;
    margin-bottom: 20px;
    width: 200px;
    height: 120px;
}

.container-form{
    width: 438px;
    margin-left: auto;
    background-color: rgba(0, 0, 0, 0.788);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 30px;
}

.container-form h2{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 0px black;
    margin-bottom: 37px;
}

.container-form form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.container-inp input{
    width: 100%;
    padding: 5px;
    outline: none;
}

.container-inp input:focus{
    background-color: rgba(85, 107, 47, 0.425);
}

/* -------------> Customer Login <------------- */

.customer-login{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 150vh;
    background: url(./assets/wallpaper-inicioS.webp) no-repeat;
    background-size: cover;
}

.customer-login form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.customer-login-f{
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.788);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 438px;
}

.customer-login-f img{
    width: 150px;
    margin-bottom: 20px;
}

.customer-login input{
    width: 100%;
    padding: 5px;
    outline: none;
}

.customer-login input:focus{
    background-color: rgba(85, 107, 47, 0.425);
}

.customer-login h2{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 0px rgb(0, 0, 0);
    margin-bottom: 27px;
}

.inicioS, .enviar, .enviarPro{
    padding: 5px;
    width: 100%;
    font-size: 15px;
    transition: ease-in-out .5s;
}

.inicioS:hover, .enviar:hover, .enviarPro:hover{
    background: rgba(85, 107, 47, 0.685);
    transition: ease-in-out .5s;
    color: white;
}

/* -------------> Validation clients and suppliers js <------------- */

.container-inp p{
    color: white;
}

.correcto{
    background-color: darkolivegreen;
}

.incorrecto{
    background-color: rgb(92, 0, 0);
}

/* -------------> Control proveedores <------------- */

.controlP{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 170vh;
    background: url(./assets/empresarial.png) no-repeat;
    background-size: cover;
    background-position:right;
}

.container-formulario{
    width: 438px;
    margin-left: auto;
    background-color: rgba(0, 0, 0, 0.788);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 15px;
}

.container-formulario form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-formulario h2{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 0px black;
    margin-bottom: 37px;
}

.container-inp{
    width: 100%;
}

.container-inp input{
    width: 100%;
    padding: 5px;
    outline: none;
}

.container-inp textarea{
    width: 100%;
    padding: 5px;
    outline: none;
    resize: none;
}

.container-inp textarea:focus{
    background-color: rgba(85, 107, 47, 0.425);
}

/* -------------> Galeria <------------- */
.semillas h2{
    text-align: center;
    color: white;
    text-shadow: 3px 3px 3px black;
    font-weight: bold;
    margin-bottom: 30px;
}
.galeria{
    margin: 0 auto 100px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
}

.contenedor-semilla{
    width: 400px;
    color: darkolivegreen;
    text-shadow: 2px 2px 2px white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border-radius: 20px;
    border: 2px solid black;
    overflow: hidden;
    box-shadow: 5px 5px 8px black;
}

.imagenes{
    position: relative;
    width: 400px;
    height: 300px;
    overflow: hidden;
}

.imagen{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .6s;
}

#lithops, #drosera, #moringa, #ricinoR, #ricinoV, #sancha{
    transform: translateX(-100%);
}
